<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="height:30px;padding:15px;">
      <a class="navbar-brand" href="#">Brand</a>
      <div class="nav navbar-nav navbar-right" style="float:right;">
        <button (click)="addBox('red')">Add Red Box</button>
        <button (click)="addBox('green')">Add Green Box</button>
        <button (click)="addBox('blue')">Add Blue Box</button>
      </div>
    </div>
  </div>
</nav>

<div [ngGrid]="gridConfig">

  <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config" (onItemChange)="updateItem(i, $event)"  (onResize)="onResize(i, $event)" (onDrag)="onDrag(i, $event)">

    <div class="widget-wrapper">
      <div class="handle box-handle">
        <span>Widget {{box.id}}</span>
        <div class="box-header-btns pull-right">
          <div style="width:100%">
            <button style="float:right" (click)="removeWidget(i)">X</button>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="box.config.payload.type">
        <app-red *ngSwitchCase="'red'" class="box-body red" [config]="box.config"></app-red>
        <app-green *ngSwitchCase="'green'" class="box-body green" [config]="box.config"></app-green>
        <app-blue *ngSwitchCase="'blue'" class="box-body blue" [config]="box.config"></app-blue>
      </ng-container>

    </div>

  </div>
</div>

